@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");

:root {
  --color1: #2947a9;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "work-sans", sans-serif;
}

/*nav-bar*/

.icon {
  display: block;
  margin-top: 26px;
}

.icon:hover {
  cursor: pointer;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: hidden;
}

.nav-menu {
  text-decoration: none;
  color: black;
}

.nav-menu:hover {
  color: #f9995d;
}

.nav-icon {
  padding-top: 10px;
}
.nav-text {
  padding: 0px 0px 10px 40px;
}

.nav-list {
  display: none;
}

/*hero*/

.hero-img {
  height: 70vh;
  background-image: url(images/hero/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.hero-text {
  font-size: 45px;
  font-weight: 600;
  position: absolute;
  top: 20%;
  left: 10%;
}

.hero-bar {
  background-color: #3559c7;
  width: 80%;
  padding: 15px 0px 0px 0px;
  position: absolute;
  top: 54%;
  left: 10%;
}

.hero-bar-head {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.hero-bar-text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0px 0px 0px;
  color: white;
  margin: 0px 20px 30px 20px;
}

.hero-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2%;
}

.hero-button {
  width: 54%;
  height: 40px;
  color: white;
  border: black;
  background-color: black;
  font-size: 18px;
}

.hero-button:hover {
  cursor: pointer;
}

/*reasons*/
.reason {
  margin-top: 30px;
}

.reason-text {
  color: #292e3d;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin-top: 70px;
  -webkit-text-stroke: 1px black;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reason-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reason-item {
  height: auto;
  width: 60%;
  margin: 20px;
  padding: 20px 20px 20px 20px;
  border-radius: 3px;
  border: 1px #858ead solid;
}

.icon-reason {
  color: #3d445c;
  font-size: 16px;
  font-weight: 700;
  margin: 5px 0px 10px 0px;
}

.reasons-text {
  color: #858ead;
  font-size: 14px;
  font-weight: 400;
}

/*about-us*/

.aboutus_main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.aboutus_image {
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  align-content: center;
  justify-content: center;
}

.aboutus_text {
  background-color: var(--color1);
  width: 80%;
  height: auto;
  margin: auto;
  border-radius: 3px;
}

.aboutus_textpara {
  font-size: 16px;
  padding: 0px 30px;
  color: white;
}

.about-us-text-heading {
  color: #fff;
  margin: 10px 0px 10px 30px;
  padding-top: 30px;
  font-size: 34px;
  font-weight: 700;
}

.about-us-button {
  padding: 16px 20px;
  text-align: center;
  border-radius: 6px;
  border: 2px solid var(--color1);
  background: white;
  color: #3559c7;
  font-size: 14px;
  font-weight: 600;
  margin: 30px 30px 40px 40px;
  width: 30%;
}

.about-us-button:hover{
  background-color: #f9995d;
  cursor: pointer;
}

/*services*/


.container-v2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:40px;
  padding: 10%;
  background-color: #F6F8F7;
  justify-content: center;
  
}

.cards-v2-even, .cards-v2-odd{
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
}

.cards-v2-even{
  background-color:#2947A9 ;
}
.cards-v2-odd{
  background-color: white;
}

.name-odd{
  margin-top:10px;
  color: #2947A9 ;
}

.name-even{
  margin-top: 10px;
}

.icon-v2{
  padding: 5px;
  border-bottom: 3px solid #E0E3EB;
}

.name-even{
  color: #FFF;
font-size: 20px;
font-weight: 600;
}

.name-odd{
  color: 2947A9;
  font-size: 20px;
  font-weight: 600;
}





/*stats*/


.cards{
  display: flex;
  flex-direction: column;
}

.card-group-v1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
  position: relative;
}

.pen, .pencil, .hand, .cup{
  display: none;
}

.card-num{
  color: #292E3D;
  font-size: 48px;
  font-weight: 500;
}

.card-value{
  border-left: 7px solid #F9995D;
  color:#667299;
  font-size: 20px;
  font-weight: 300;
}

.card-holder-1, .card-holder-2, .card-holder-3, .card-holder-4{
  padding: 0px 10px;
  box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.10);

}



.card-text{
  padding: 20px;
}


.card-topic{
  margin-top: 30px;
  color:  #2947A9;
font-size: 25px;
font-weight: 700;
padding: 10px;
}

.card-des{
  padding: 40px 0px;
  color: #525B7A;
font-size: 20px;
font-weight: 400;
}

.card-button{
  color: white;
  width: 40%;
  border: #2947A9 1px solid;
  padding: 15px;
  font-size: 15px;
  background-color: #2947A9;
}







/*adds*/
.add-main {
  background-image: url("images/addvertisement/ads.png");
  background-size: cover;

  height: 240px;
  position: relative;
  overflow-y: scroll;
}

.add-text {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  width: 80%;
}

.add-text2 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.add-text-button {
  border: 1px solid white;
  padding: 16px;
  background: transparent;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.add-i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 90%;
}

/*projects*/
.project {
  color: #292e3d;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin: 30px;
}

.projectmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-1 {
  border-left: var(--color1) 4px solid;
  color: var(--color1);
}

.project-left-ul-i {
  display: flex;
  flex-direction: column;
  color: #c2c7d6;
  font-size: 20px;
  font-weight: 500;
  padding: 0px 50px;
  list-style-type: none;
  gap: 16px;
}

.project-left-ul:hover {
  color: var(--color1);
  cursor: pointer;
}

.project-right {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}

.project-right-box-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.project-right-box-2 {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#project-right-box-i {
  background-image: url("images/projects/wildstone.png");
  width: 80vw;
}

#project-right-box-iii {
  background-image: url("images/projects/building.png");
  width: 80vw;
}

#project-right-box-ii {
  background-image: url("images/projects/house.png");
  width: 80vw;
}

#project-right-box-iv {
  background-image: url("images/projects/heights.png");
  width: 80vw;
}

.project-right-box-text {
  background-color: var(--color1);
  color: white;
  margin-top: 197px;
  padding: 10px;
}

.project-right-box-top {
  font-size: 14px;
  font-weight: 700;
}

.project-right-box-below {
  font-size: 10px;
  font-weight: 500;
  padding-top: 5px;
}

.project-right-button {
  display: none;
}

.project-right-box:hover{
  cursor: pointer;
  transform: scale(0.84);
}

.reason-item:hover {
  transform: scale(1.03);
}

/*form*/
.form-main {
  background: #f6f8f7;
}

.form-heading {
  color: #292e3d;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin-top: 38px;
}

.form-para {
  width: 90%;
  color: #292e3d;
  text-align: center;
  margin: 12px;
  font-size: 20px;
  font-weight: 400;
}

.form-inputs {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box-name,
.form-box-rsn {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-input-box {
  height: auto;
  width: 90%;
  padding: 8px 6px;
  border-radius: 3px;
  border: solid 1px;
}

.form-button {
  background-color: var(--color1);
  color: #f6f8f7;
  padding: 16px 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border: var(--color1) solid 1px;
  border-radius: 2px;
  height: auto;
}

.form-box-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box-add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  margin: auto;
}

/*bottom*/

.bottom {
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin: 20px;
  gap: 32px;
}

.bottom-left-head {
  color: var(--color1);
  font-size: 16px;
  margin-top: 20px;
  width: 140px;
  font-weight: 600;
}

.bottom-left-value {
  font-size: 16px;
  font-weight: 400;
  padding-left: 30px;
  margin-top: 20px;
}

.bottom-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* padding: 85px 112px 0px 0px; */
  /* margin-right: 30px; */
  margin: 0px 0px 19px 45px;
}

.bottom-email {
  margin: 10px 10px 10px 0px;
  height: 31px;
  width: 70%;
  border: 1px solid #a3aac2;
  border-radius: 3px;
  padding: 5px;
}

.bottom-button {
  width: 106px;
  height: 38px;
  color: white;
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  background-color: #f9995d;
  border: 1px solid #f9995d;
}

.bottom-left-social {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin: 15px 100px 0px 0px;
}

.bottom-left-text {
  width: 900px;
}

.bottom-left-bold {
  width: 230px;
}

.bottom-news {
  width: 60%;
}

/*footer*/
.footer-main {
  background-color: var(--color1);
}

.footer-text {
  color: white;
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
}

.about-us-button:hover,
.form-button:hover,
.bottom-button:hover,
.bottom-left-social:hover,
.bottom-logo:hover {
  cursor: pointer;
}

.add-text-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.reason-item:hover {
  cursor: pointer;
}

.form-input-box:focus {
  outline: none;
}
.form-input-email {
  outline: none;
}

.form-input-box,
.form-input-email {
  border: #a3aac2 solid 1px;
  padding: 10px;
}

.project-right-button:hover {
  cursor: pointer;
}

.add-text2:hover {
  cursor: pointer;
}

.bottom-email:focus,
.number:hover {
  outline: none;
}



@media (min-width: 600px) {
  /*hero*/

  .hero-img {
    width: 100%;
    position: relative;
    height: 80vh;
  }

  .hero-text {
    position: absolute;
    font-weight: 700;
    top: 20%;
    right: 15%;
    font-size: 60px;
    text-align: center;
  }

  .hero-bar {
    position: absolute;
    top: 58%;
    right: 9%;
    width: 425px;
  }
  /*projects*/

  #project-right-box-i {
    background-image: url("images/projects/wildstone.png");
    height: 250px;
    width: 300px;
  }

  #project-right-box-iii {
    background-image: url("images/projects/building.png");
    height: 250px;
    width: 300px;
  }

  #project-right-box-ii {
    background-image: url("images/projects/house.png");
    height: 250px;
    width: 300px;
  }

  #project-right-box-iv {
    background-image: url("images/projects/heights.png");
    height: 250px;
    width: 300px;
  }
  /*footer*/

  .footer-text {
    text-align: center;

    margin-left: 0px;
  }
}

@media (min-width:750px) {
  .card-group-v1{
    height: 600px;
}

.card-num{
    font-size: 68px;
    font-weight: 600;
}

.card-value{
    font-size: 24px;
    font-weight: 400;
}


.hand, .cup{
    position: absolute;
    top: -40%;
    right: -18%;
}

.pen{
    position: absolute;
    top: -58%;;
    left: -25%;
} 

.pencil{
    position: absolute;
    bottom: -52%;
    right: -35%;
}

.card-container1, .card-container2,.card-container4,.card-container3{
    position: absolute;
}


.card-holder-1, .card-holder-2, .card-holder-3, .card-holder-4{
    position: relative;
    padding: 0px 10px;
    box-shadow: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px rgba(17, 24, 39, 0.10);

 }

.card-container1{
    display: block;
    top:10%;
    right: 30%;
}

.card-container2{
    display: block;
    top:23%;
    left: 30%;
}

.card-container3{
    display: block;
    top:41%;
    right: 30%;
}

.card-container4{
    display: block;
    bottom: 29%;
    left: 30%;
}


.card-text{
    width: 90%;
    padding: 0px 40px;
}

.card-topic{
    font-size: 58px;
}

.pen, .pencil, .hand, .cup{
    display: block;
}


    
}

      



@media (min-width: 1012px) {
  /*nav*/

  .icon {
    display: none;
  }

  .nav-menu-list {
    padding-top: 30px;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 30px;
  }

  .hero-img {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .hero-text {
    position: absolute;
    top: 320px;
    left: 112px;
    width: 556px;
    font-weight: 700;
  }

  .hero-bar {
    position: absolute;
    top: 82%;
    left: 60%;
    width: 425px;
  }

  /*reason*/

  .reason-text {
    font-size: 36px;
    font-weight: 600;
  }

  .reason-main {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .reason-item {
    height: 197px;
    width: 292px;
    margin: 40px;
    padding: 20px 20px 20px 20px;
    border-radius: 6px;
  }

  .reasons-text {
    font-size: 18px;
    font-weight: 400;
  }

  .icon-reason {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0px 10px 0px;
  }

  /*about us*/

  .about_us {
    position: relative;
    display: block;
  }

  .aboutus_main {
    display: block;
  }

  .aboutus_text {
    position: absolute;
    height: 503px;
    width: 30%;
    left: 58%;
    top: 12%;
  }

  .aboutus_image {
    margin: 74px 0px 102px 112px;
    height: 600px;
    width: 55%;
  }

  .aboutus_textpara {
    font-size: 18px;
    width: 300px;
    padding: 37px;
  }


  /*stats*/
  .cards{
    display: flex;
    flex-direction: row;
}

.card-group-v1{
    width: 70%;
    padding: 40px;
}


.card-text{
    padding: 90px;
    width: 30%;
}

  /*adds*/

  .add-main {
    margin-top: 50px;
  }

  .add-text {
    font-size: 36px;
    font-weight: 700;
    position: absolute;
    top: 55px;
    left: 92px;
    margin-top: 0px;
    width: 750px;
  }

  .add-text2 {
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    top: 122px;
    left: 112px;
  }

  .add-text-button {
    border: 1px solid white;
    padding: 16px;
    background: transparent;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 80px;
    left: 82%;
  }

  .add-i {
    margin-bottom: 100px;
  }

  /*projects*/

  .project {
    color: #292e3d;
    font-size: 36px;
    font-weight: 700;
    margin: 38px 1180px 0px 0px;
  }

  .projectmain {
    flex-direction: row;
    /* justify-content: space-between; */
  }

  .project-left-ul-i {
    margin: 0px 0px 0px 0px;
    flex-direction: column;
  }

  .project-left {
    margin: 0px 0px 400px 112px;
    width: 50%;
  }

  .project-right {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .project-right-box-1 {
    margin: 0px 0px 0px 0px;
  }

  .project-right-box-2 {
    margin: 0px 112px 0px 0px;
  }

  .project-right-button {
    display: flex;
    flex-direction: row;
    height: 46px;
    gap: 30px;
    width: 29%;
    margin: 0px 292px 0px 700px;
  }

  /*form*/

  .form-heading {
    margin-top: 138px;
  }

  .form-para {
    width: 539px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 451px;
  }

  .forminputs {
    margin: 38px 424px 61px 444px;
  }

  .form-box-name,
  .form-box-rsn {
    flex-direction: row;
    gap: 30px;
  }

  .form-box-add {
    width: 620px;
  }

  .form-input-box {
    height: 41px;
    width: 280px;
    padding: 10px 8px;
  }

  .form-button {
    height: 53px;
    width: 176px;
  }

  /*bottom*/

  .bottom {
    display: flex;
    height: 377px;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding-left: 112px;
    gap: 32px;
    padding-top: 85px;
  }

  .bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 85px 0px 0px 0px;
    margin: 18px 90px 0px 50px;
  }

  .bottom-i {
    width: 400px;
  }

  .bottom-email {
    width: 90%;
  }

  .footer-text {
    text-align: left;
    margin-left: 40px;
  }
}
